html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text-color-1;
    width: 100%;
    height: calc(100% - #{$nav-height + $footer-height});

}