$nav-height: 60px;
$footer-height: 60px;
$box-shadow-1: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
$text-color-1: #2c3e50;
$upwork-color: #37a000;
$upwork-hover-color: #008329;